---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700|Ubuntu:400,400i,700&display=swap');

$ubuntu-font: 'Ubuntu', sans-serif;

$color-ncs-primary: #c00c;
$color-ncs-primary-light: #c00;
$color-ncs-primary-dark: #900;
$color-ncs-secondary-light: #ccc;

$color-primary: #F44c;
$color-primary-light: #F44;
$color-primary-dark: #f66;
$color-secondary-light: #ccc;
$color-dark: #12181b;
$color-dark-light: #1a1f23;

$transition-time: 250ms;

a {
  color: $color-primary;
  transition: $transition-time;
}
a:hover {
  color: $color-primary-dark;
}

body {
  background: $color-dark;
  font-family: $ubuntu-font;
  text-rendering: optimizeLegibility;
}

#content-wrapper {
  background: linear-gradient(100deg, #1a1f23, #12181b);
  border-top: unset;
}

header {
  // Chevron pattern - https://codepen.io/mmckinnon/pen/LJnzG
  background: 
    linear-gradient(-33deg, rgba(255,255,255,0.001) 30.5%, rgba(255,255,255,0.5) 31.5%, rgba(255,255,255,0.5) 32.5%, rgba(255,255,255,0.001) 33.5%),
    linear-gradient(33deg, rgba(255,255,255,0.001) 30.5%, rgba(255,255,255,0.5) 31.5%, rgba(255,255,255,0.5) 32.5%,
  rgba(255,255,255,0.001) 33.5%);
  background-size: 45px 16px;
  background-color: $color-ncs-primary;
  border-color: $color-ncs-primary-dark;
  font-family: $ubuntu-font;

  h1 {
    display: inline;
    font-size: 64px;
    color: #fee;
  }

  h1:hover {
    color: #f8e4e4;
    transition: $transition-time;
  }

  h2 {
    color: #cbb;
  }

  img {
    margin-right: 16px;
  }
}

@media only screen and (max-width: 767px) {
  header a.button {
    background-color: white;
    color: $color-primary;
  }
}

aside#sidebar {
  background: unset;
}

#main-content {
  color: #aaa;
  font-size: 1rem;
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $ubuntu-font;
  }

  h1 {
    color: #fee;
  }

  h2 {
    color: #edd;
  }

  h3 {
    color: #dcc;
  }

  h3 {
    color: #cbb;
  }

  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    color: $color-primary;
  }

  p {
    line-height: 1.6rem;
  }

  p.page-subtext {
    font-size: 1.2rem;
  }

  .tag-name {
    background: $color-dark-light;
    border: 1px solid $color-primary-light;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #edd;
    display: inline;
    font-size: 14px;
    padding: 8px 8px;
    margin: 8px;
    transition: $transition-time;
  }

  .tag-name:hover {
    background: $color-primary-dark;  

    a {
      color: $color-dark-light;
    }
  }
}

aside nav {
  margin-bottom: 16px;

  div {
    border: 1px solid $color-primary-light;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: $ubuntu-font;
    font-size: 15px;
    padding: 5px 10px;
    margin: 8px;

    a {
      color: $color-primary-dark;
      display: block;
    }

    transition: $transition-time;
  }

  div:hover {
    background-color: $color-primary-dark;
    transform: translateX(-0.5rem);

    a {
      color: white;
    }
  }
}

// Code block style
//   taken from Modernist theme
//   @see https://github.com/pages-themes/modernist
code {
  background: #3A3C42;
  color: #f8f8f2;
  padding: 5px;
}
code,
pre {
  font-family: 'Ubuntu Mono', monospace;
  color: #f8f8f2;
  font-size:14px;
  overflow-x:auto;
  //background-color: unset;
  background: #3A3C42;

}
pre.highlight {
  padding:20px;
  background:#3A3C42;
  color:#f8f8f2;
  margin:0 -20px 20px
}
pre code {
  color:#f8f8f2;
  background-color: unset;
}
li pre {
  margin-left:-60px;
  padding-left:60px
}
.highlight table td {
  padding:5px
}
.highlight table pre {
  margin:0
}
.highlight,
.highlight .w {
  color:#d0d0d0
}
.highlight .err {
  color:#151515;
  background-color:#ac4142
}
.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color:#888
}
.highlight .cp {
  color:#f4bf75
}
.highlight .nt {
  color:#f4bf75
}
.highlight .o,
.highlight .ow {
  color:#d0d0d0
}
.highlight .p,
.highlight .pi {
  color:#d0d0d0
}
.highlight .gi {
  color:#90a959
}
.highlight .gd {
  color:#ac4142
}
.highlight .gh {
  color:#6a9fb5;
  font-weight:bold
}
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  color:#aa759f
}
.highlight .kc {
  color:#d28445
}
.highlight .kt {
  color:#d28445
}
.highlight .kd {
  color:#d28445
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
  color:#90a959
}
.highlight .sr {
  color:#75b5aa
}
.highlight .si {
  color:#8f5536
}
.highlight .se {
  color:#8f5536
}
.highlight .nn {
  color:#f4bf75
}
.highlight .nc {
  color:#f4bf75
}
.highlight .no {
  color:#f4bf75
}
.highlight .na {
  color:#6a9fb5
}
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
  color:#90a959
}
.highlight .ss {
  color:#90a959
}
.highlight .nf { color: unset; font-weight: unset; }
